$buttonWidth: 25px;
$buttonHeight: 18px;
$buttonColor: darken(#ffffff, 5%);
$buttonActiveColor: darken(#000000, 15%);
$lineThickness: 2px;
$transitionSpeed: 0.25s;
$transitionEasing: ease-in-out;

// Demo
.hamburger {
	position: relative;
	display: block;
	width: $buttonWidth;
	height: $buttonHeight;

	background: transparent;
	border-top: $lineThickness solid;
	border-bottom: $lineThickness solid;

	color: $buttonColor;
	font-size: 0;

	transition: all $transitionSpeed $transitionEasing;

	&:before,
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: $lineThickness;

		position: absolute;
		top: 50%;
		left: 50%;

		background: currentColor;

		transform: translate(-50%, -50%);
		transition: transform $transitionSpeed $transitionEasing;
	}
}

// button:hover {
//   color: lighten($buttonColor, 15%);
// }

button.is-active {
	border-color: transparent;
	z-index: 9999;

	&:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

// button {
//   border: none;
//   cursor: pointer;
//   outline: none;
// }
