@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.slide-fade-enter-active {
	transition: all 0.3s ease-out;
	transition-delay: 0.5s;
}
.slide-fade-leave-active {
	transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter-from,
.slide-fade-leave-to {
	transform: translateX(20px);
	opacity: 0;
}

.slide-nested-enter-active {
	transition: all 0.3s ease-out;
	transition-delay: 0.5s;
}
.slide-nested-leave-active {
	transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-nested-enter-from,
.slide-nested-leave-to {
	transform: translateY(50px);
	opacity: 0;
}
.slide-open-enter-active {
	transition: all 0.2s ease-out;
}
.slide-open-leave-active {
	transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-open-enter-from,
.slide-open-leave-to {
	transform: translateY(10px);
	opacity: 0;
}
